@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-title {
    @apply font-switzer text-8xl font-extrabold text-start tracking-wide text-light;
  }
  .text-title-mobile {
    @apply font-switzer text-6xl font-extrabold text-start tracking-wide text-light;
  }
  .text-subtitle {
    @apply font-bespokeSlab font-light text-3xl text-light;
  }
  .text-subtitle-mobile {
    @apply font-bespokeSlab font-light text-2xl text-light;
  }
  .text-paragraph {
    @apply font-switzer font-light text-light;
  }
}

body::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #a77946;
  color: #090b0c;
}

body {
  overscroll-behavior: none;
}
